form    {
    max-width: 600px;
    margin: auto
    
}
.images {
    width: 50%;
    padding-bottom: 15px;
    margin: auto;
}

h2  {
    text-align: center;
}

.btn btn-primary btn-sm active  {
    padding-top: 10%;
}
